@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* Hero Section pictures animation */
#hero-picture {
	width: 430px;
	height: 550px;
	border-radius: 20%;
}

#hero-picture:hover,
#about-picture:hover {
	animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

/* Hero Section Name animation */
svg {
	font-family: "Russo One", sans-serif;
	width: 100%;
	height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #000000;
	font-size: 100px;
}
@keyframes stroke {
	0% {
		fill: rgba(0, 0, 0, 0);
		stroke: rgba(0, 0, 0, 1);
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 2;
	}
	70% {
		fill: rgba(0, 0, 0, 0);
		stroke: rgba(0, 0, 0, 1);
	}
	80% {
		fill: rgba(0, 0, 0, 0);
		stroke: rgba(0, 0, 0, 1);
		stroke-width: 3;
	}
	100% {
		fill: rgba(0, 0, 0, 1);
		stroke: rgba(0, 0, 0, 0);
		stroke-dashoffset: -25%;
		stroke-dasharray: 50% 0;
		stroke-width: 0;
	}
}

.wrapper {
	background-color: #ffffff;
}

.svg-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-4%, -17%);
}

/* About Profession Animation */
@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink-caret {
	50% {
		border-color: transparent;
	}
}
/* When you change the amount of characters in the h1, you have to change 
the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
if there is 20 put 20 */
.text-animation-1 {
	font: bold 200% Consolas, Monaco, monospace;
	border-right: 0.1em solid black;
	width: 13.2ch;
	margin: 1em 0 0 0;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 5s steps(13, end),
		blink-caret 0.5s step-end infinite alternate;
}

.text-animation-2 {
	font: bold 200% Consolas, Monaco, monospace;
	border-right: 0.1em solid black;
	width: 17.2ch;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 5s steps(17, end),
		blink-caret 0.5s step-end infinite alternate;
}

/* Projects animation */
#project {
	transition: transform 0.3s ease-in-out;
}

#project:hover {
	transform: scale(
		1.05
	); /* You can adjust the value to control the level of zoom */
}

/* Card Link Style */
.card-link-style {
	text-decoration: none;
	color: inherit;
}

/* Carousel */
.carousel-container {
	max-width: 100%;
	margin: 0 auto;
	padding: 50px;
}

.carousel-slide {
	display: flex;
	justify-content: center;
}

.logo {
	width: 100px;
	height: 100px;
	max-width: 500px;
	height: auto;
	transition: transform 0.3s;
}

.logo:hover {
	transform: scale(1.1);
}

/* Additional styles for tooltips */
.tooltip-container {
	position: relative;
	display: inline-block;
}

.tooltip-text {
	position: absolute;
	bottom: -7%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.email-link {
	color: #000000; /* Link color */
	text-decoration: none;
	transition: color 0.3s;
}

.email-link:hover {
	color: #0056b3; /* Hover color */
	text-decoration: underline;
}

@media (max-width: 768px) {
	#hero {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	#hero-picture {
		width: 300px;
		height: 300px;
		border-radius: 50%;
	}
	#about-picture {
		width: 300px;
		height: 300px;
		border-radius: 50%;
	}
	.text-animation-1,
	.text-animation-2 {
		margin: auto;
	}
	svg {
		font-family: "Russo One", sans-serif;
		width: 50%;
		height: 50%;
	}
	svg text {
		animation: stroke 5s infinite alternate;
		stroke-width: 2;
		stroke: #000000;
		font-size: 30px;
	}
}

@media (max-width: 576px) {
	.main {
		padding: 0 20px 0 20px;
	}
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}